@{
    var movie = (Movie)ViewData["movie"];
    ViewData["title"] = "Movie Detail";
}
  <img src="assets/images/popular-02.jpg" alt="">
<h1>@movie.Category</h1>
<h1>@movie.Image</h1>
<h1>@movie.Name</h1>
<h1>@movie.Rate</h1>
<h1>@movie.Id</h1>